<?php

// node settings
$config["node-name"] = "Your Bitcoin Node";
$config["node-country"] = "ck";
$config["node-ipv4"] = "123.45.67.89";
$config["node-ipv6"] = "2a02:dead:beed:affe::1";

// base command for bitcoin-cli
$config["rpc-command"] = "sudo -u bitcoin bitcoin-cli";

// data file
$config["data-file"] = "/tmp/bitcoin-node-stat.json";
